/* Estilos CSS aqui */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
}

body {
  background-image: url("../css/img.png");
  background-position: center;
  background-size: contain; /* Ajusta a imagem para cobrir todo o fundo */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 3em;
}

#calc {
  width: 300px;
  padding: 1em;
  background-color: rgba(
    196,
    196,
    196,
    0.7
  ); /* Cor de fundo com 70% de transparência */
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

#operations {
  width: 100%;
  background-color: #fff;
  border-radius: 4px;
  padding: 0.5em;
  margin-bottom: 1em;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
  text-align: right;
}

#previous-operation,
#current-operation {
  width: 100%;
  padding: 0.2em;
  overflow-wrap: break-word;
  min-height: 1.6em;
}

#previous-operation {
  color: #777;
  font-size: 0.9em;
}

#current-operation {
  font-size: 2em;
  font-weight: 700;
}

#buttons-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  width: 100%;
  flex-grow: 1; /* Ocupa todo o espaço restante */
}

#buttons-container button {
  border: none; /* Removendo a borda para uma aparência mais limpa */
  border-radius: 6px; /* Adicionando bordas arredondadas */
  height: 50px; /* Altura fixa para todos os botões */
  font-size: 1em; /* Tamanho da fonte */
  background-color: #dbdbdb;
  cursor: pointer;
  transition: background-color 0.2s;
}

#buttons-container button:hover {
  background-color: #bfbfbf; /* Altera a cor de fundo ao passar o mouse */
}

#buttons-container button:active {
  background-color: #a9a9a9; /* Altera a cor de fundo ao clicar no botão */
}

#buttons-container button:last-child {
  grid-column: 1 / span 2; /* Ocupa 2 colunas */
}
